<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Volumes/MET-lab/Shared/Projects/SMT_2013/2013 App Dev/release/AcousticAnalysis/AcousticAnalysis.xcodeproj</string>
</dict>
</plist>
